<h1>All Parts</h1>
<table>
<thead> <tr>
      <td> Name</td>
      <td>Type</td>
      <td>Compatability </td>
    </tr>
  </thead>
  <tbody>
<% @part.each do |part| %>
<tr class="part-row" id="<%= dom_id(part) %>">
<td class="name"><%= part.name %></td>
<td class="part"><%= part.part %></td> 
<td class="Compatability"><%= part.compatability %></td>
</tr>
<% end %> </tbody>
</table>
